In [1]:
import pandas as pd
import os

In [2]:
vine_data = os.path.join('vine_table.csv')
vine_df = pd.read_csv(vine_data)

In [3]:
vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R203HPW78Z7N4K,5,0,0,N,Y
1,R2EAIGVLEALSP3,5,1,1,N,Y
2,R1K1CD73HHLILA,5,0,0,N,Y
3,R2KZBMOFRMYOPO,5,1,1,N,Y
4,R6BIZOZY6UD01,5,0,0,N,Y
5,R1MCXZFNF8E7Y0,1,0,0,N,Y
6,R3EMB3E3ODR6BW,5,2,2,N,Y
7,RJTONVTTOPJ5S,5,0,0,N,Y
8,R21U5QZ2CQECUM,4,0,0,N,Y
9,RL2BBC51H89DH,4,0,0,N,Y

In [4]:
# Step 1
new_df=vine_df[vine_df['total_votes'] > 19]
new_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
34,R1QXNQBTH7LIUB,3,9,22,N,Y
99,R3BC75VKJK6LNV,4,83,89,N,Y
170,R5XKK92G5N9FU,1,18,22,N,N
171,RYMOWYW38WKOB,5,35,35,N,N
304,RYHZAVESD0T37,1,39,45,N,Y
328,R19Y5VBOF3BQOG,1,26,35,N,Y
342,R8V9F3139Z1WZ,1,30,34,N,N
371,R3RNY5OLY451GS,1,25,30,N,Y
489,R16LPVYSJOAH1T,1,20,20,N,N
575,R2NLL7ISMM5QYQ,4,89,94,N,Y

In [5]:
#Step 2.a
new_df['results'] = new_df['helpful_votes'] / new_df['total_votes']
new_df.head(10)

C:\Users\bigv2\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,results
34,R1QXNQBTH7LIUB,3,9,22,N,Y,0.409091
99,R3BC75VKJK6LNV,4,83,89,N,Y,0.932584
170,R5XKK92G5N9FU,1,18,22,N,N,0.818182
171,RYMOWYW38WKOB,5,35,35,N,N,1.000000
304,RYHZAVESD0T37,1,39,45,N,Y,0.866667
328,R19Y5VBOF3BQOG,1,26,35,N,Y,0.742857
342,R8V9F3139Z1WZ,1,30,34,N,N,0.882353
371,R3RNY5OLY451GS,1,25,30,N,Y,0.833333
489,R16LPVYSJOAH1T,1,20,20,N,N,1.000000
575,R2NLL7ISMM5QYQ,4,89,94,N,Y,0.946809

In [6]:
#Step 2.b
new_df2 = new_df[new_df['results'] > 0.5]
new_df2.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,results
99,R3BC75VKJK6LNV,4,83,89,N,Y,0.932584
170,R5XKK92G5N9FU,1,18,22,N,N,0.818182
171,RYMOWYW38WKOB,5,35,35,N,N,1.000000
304,RYHZAVESD0T37,1,39,45,N,Y,0.866667
328,R19Y5VBOF3BQOG,1,26,35,N,Y,0.742857
342,R8V9F3139Z1WZ,1,30,34,N,N,0.882353
371,R3RNY5OLY451GS,1,25,30,N,Y,0.833333
489,R16LPVYSJOAH1T,1,20,20,N,N,1.000000
575,R2NLL7ISMM5QYQ,4,89,94,N,Y,0.946809
592,R3FAFI6Q0YL37W,1,30,35,N,Y,0.857143

In [7]:
# Step 3
paid_df = new_df2[new_df2['vine'] == 'Y']
paid_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,results
10115,R20O97P5V9CZ21,3,21,27,Y,N,0.777778
24076,RCNB7YGLWKCV5,5,23,30,Y,N,0.766667
25487,RX1ZUVGBH3HKC,5,814,848,Y,N,0.959906
26003,RRS5AGL10DYU3,3,25,29,Y,N,0.862069
26213,R5YFC5G8V2B3I,5,104,117,Y,N,0.888889
26403,R1IDQ0G1S7J9TN,5,178,196,Y,N,0.908163
26747,RKXNZX22HQZEE,3,182,192,Y,N,0.947917
27720,R2K45IY0NO70ZI,5,116,122,Y,N,0.950820
34517,RQXRI4UKDX877,5,20,24,Y,N,0.833333
36014,R1L2R8OHO171YG,5,66,68,Y,N,0.970588

In [8]:
# Step 4
unpaid_df = new_df2[new_df2['vine'] == 'N']
unpaid_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,results
99,R3BC75VKJK6LNV,4,83,89,N,Y,0.932584
170,R5XKK92G5N9FU,1,18,22,N,N,0.818182
171,RYMOWYW38WKOB,5,35,35,N,N,1.000000
304,RYHZAVESD0T37,1,39,45,N,Y,0.866667
328,R19Y5VBOF3BQOG,1,26,35,N,Y,0.742857
342,R8V9F3139Z1WZ,1,30,34,N,N,0.882353
371,R3RNY5OLY451GS,1,25,30,N,Y,0.833333
489,R16LPVYSJOAH1T,1,20,20,N,N,1.000000
575,R2NLL7ISMM5QYQ,4,89,94,N,Y,0.946809
592,R3FAFI6Q0YL37W,1,30,35,N,Y,0.857143

In [13]:
# count of paid Vine votes
paid_df['total_votes'].count()

35

In [14]:
# count of unpaid Vine votes
unpaid_df['total_votes'].count()

4940

In [15]:
#number of paid Vine 5-star reviews
len(paid_df[paid_df['star_rating']==5])

18

In [16]:
#number of unpaid Vine 5-star reviews
len(unpaid_df[unpaid_df['star_rating']==5])

1963

In [22]:
#Percent 5 star review paid Vine
(len(paid_df[paid_df['star_rating']==5]))/(paid_df['total_votes'].count())

0.5142857142857142

In [23]:
#Percent 5 star review unpaid Vine
(len(unpaid_df[unpaid_df['star_rating']==5]))/(unpaid_df['total_votes'].count())

0.3973684210526316